{% extends "base.html" %}
{% block content %}

<section class="hero is-primary">
	<div class="hero-body">
		<div class="container">
			<h1 class="title has-text-black">Portfolio</h1>
		</div>
	</div>
</section>

<section class="section">
	<div class="columns">

		<div class="column is-6 is-offset-1">
			<section class="section">
				<div class="container">
					<h1 class="title has-text-black">Portfolio</h1>
				</div>
			</section>
			<section class="section">
				<div class="container">
					<h1 class="title has-text-black">Portfolio</h1>
				</div>
			</section>
			<section class="section">
				<div class="container">
					<h1 class="title has-text-black">Portfolio</h1>
				</div>
			</section>
		</div>

		<div class="column is-5">
			<section class="section">
				<div class="container">
					<h1 class="title has-text-black">Portfolio</h1>
				</div>
			</section>
		</div>

	</div>
</section>

{% endblock %}