{% extends "base.html" %}
{% block content %}
<section class="section has-background-primary">
	<div class="container">
		<h1 class="title has-text-centered">Register</h1>

		<div class="field">
			<div class="control">
				<input class="input is-rounded" type="text" placeholder="Name">
			</div>
		</div>
		<div class="field">
			<div class="control">
				<input class="input is-rounded" type="text" placeholder="Email">
			</div>
		</div>
		<div class="field">
			<div class="control">
				<input class="input is-rounded" type="text" placeholder="Password">
			</div>
		</div>
	</div>
</section>
{% endblock %}