{% extends "base.html" %}
{% block content %}

<section class="hero is-primary">
	<div class="hero-body">
		<div class="container">
			<h1 class="title has-text-black">Transactions</h1>
		</div>
	</div>
</section>

<section class="section">
	<div class="columns">
		<div class="column is-half is-offset-1">
			{% for i in range(rows|length) %}
			<div class="field">
				<div class="container">
					<h1 class="subtitle has-text-black">{{ rows[i][0] }} ({{ rows[i][1] }}) - {{ rows[i][2] }} shares @ ${{ rows[i][3] }} each</h1>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>

{% endblock %}